<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        {% if '/' == request.path %} 
        <strong class="navbar-brand" style="font-weight: inherit;">
            My Website
        </strong>
        {% else %}
        <a class="navbar-brand" href="{% url 'base:home' %}">
            My Website
        </a>
        {% endif %}
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
            <div class="navbar-nav">
                <a class="nav-link active" aria-current="page" href="{% url 'base:home' %}">Home</a>
            </div>
        </div>
    </div>
</nav>